.Pokecard {
    display: inline-block;
    width: 8em;
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.Pokecard-title {
    color: red;
    font-weight: bold;
}

.Pokecard-data {
    font-size: 80%;
}